<!--Header default-->
<div class="top_nav">
  <div class="container">
    <div class="left">
      <!--<ul class="topsocial">
        <li class="social faceboox delay-000ms" style="animation-delay: 0ms;">
          <a href="http://king" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social twitter delay-100ms" style="animation-delay: 100ms;">
          <a href="http://king" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social gplus delay-200ms" style="animation-delay: 200ms;">
          <a href="http://king" target="_blank">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li class="social linkdin delay-300ms" style="animation-delay: 300ms;">
          <a href="http://king" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="social flickr delay-400ms" style="animation-delay: 400ms;">
          <a href="http://king" target="_blank">
            <i class="fa fa-flickr"></i>
          </a>
        </li>
      </ul>-->
    </div><!-- end left -->
    <div class="right">
      <ul class="tplinks">
        <li>
          <a href="tel:+18772190998">
            <i class="fa fa-phone"></i>
            +1 877-219-0998
          </a>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/site-icon2.png">
            LiveChat
          </a>
        </li>
      </ul>
    </div><!-- end right -->
  </div>
</div>
<div class="clearfix"></div>
<header class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <a id="logo" href="http://vonagebusinessdeals.com/">
        <img alt="Vonage Business Deals" src="assets/images/logo-vonage.png">
      </a>
    </div>
  </div>
</header>

<div class="clearfix margin_bottom11 resp_margin_bottom68"></div>
