<footer class="footer">
  <div class="footer">
    <div class="ftop">
      <div class="container">
        <div class="left">
          <h4 class="caps light">
            <strong>Need Help?</strong>
            Call Us
          </h4>
          <h1>+1 877-219-0998</h1>
        </div><!-- end left -->
      </div>
    </div>
    <div class="secarea">
      <div class="container">
        <div class="one_fourth last aliright animated eff-fadeInUp delay-400ms effHidden pull-right" style="animation-delay: 400ms;">
          <div class="widget-area" id="footer_column-4">
            <aside class="widget widget_execphp" id="execphp-42">
              <div class="execphpwidget">
                <div class="address">
                  <img width="147" alt="" src="assets/images/logo-vonage.png">
                  <br>
                  <br>
                  <strong>Phone:</strong>
                  <a href="tel:+18772190998"><b>1  877-219-0998</b></a>
                  <br>
                  <strong>Mail:</strong>
                  <a href="mailto:info@vonagebusinessdeals.com">
                    info@vonagebusinessdeals.com
                  </a>
                  <br>
                </div>
              </div>
            </aside>
          </div><!-- #secondary -->
        </div>
      </div><!--end class container-->
    </div><!--end class secarea-->
    <div class="clearfix"></div>
    <div class="copyrights">
      <div class="container">
        <div class="one_half">
          Copyright © 2015 <a href="http://vonagebusinessdeals.com">VonageBusinessDeals.Com</a> - All rights reserved.
        </div>
        <div class="one_half last aliright">
          <a href="#">
            Terms of Service
          </a>
          |
          <a href="#">
            Privacy Policy
          </a>
          |
          <a href="#">
            Site Map
          </a>
        </div>
      </div>
    </div>
  </div><!--end class footer-->
</footer>
