<div id="king-201943" class="wpb_row vc_row-fluid  container_full">
  <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
      <div class="wpb_revslider_element wpb_content_element">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.0.8.5 fullwidth mode -->
          <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.8.5">
            <ul>
              <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-thumb="assets/images/01-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/images/01.jpg" alt="" width="1920" height="580" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption text1strong   tp-resizeme"
                     id="slide-1-layer-1"
                     data-x="115"
                     data-y="160"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:0;y:-45;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1800;e:easeOutExpo;"
                     data-transform_out="auto:auto;s:300;"
                     data-start="300"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap;border-color:rgba(42, 54, 63, 1.00);">
                  Affordable Prices
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption text2strong   tp-resizeme  text2 caps"
                     id="slide-1-layer-2"
                     data-x="115"
                     data-y="196"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:0;y:-45;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1800;e:easeOutExpo;"
                     data-transform_out="auto:auto;s:300;"
                     data-start="600"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: nowrap;border-color:rgba(42, 54, 63, 1.00);">
                  <em style="border-width: 0px; margin: 0px; padding: 0px; transition:none; line-height: 70px; letter-spacing: 1px; font-size: 67px; font-weight: 800;">Vonage</em> Deals
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption text3   tp-resizeme"
                     id="slide-1-layer-3"
                     data-x="115"
                     data-y="295"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:0;y:45;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1800;e:easeOutExpo;"
                     data-transform_out="auto:auto;s:300;"
                     data-start="800"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 7; white-space: nowrap;border-color:rgba(42, 54, 63, 1.00);">
                   Easy setup means you can start using Vonage immediately!
                          <br style="border-width: 0px; margin: 0px; padding: 0px; transition:none; line-height: 28px; letter-spacing: 0px; font-size: 17px; font-weight: 400;">
                          Save 36%
                          <br style="border-width: 0px; margin: 0px; padding: 0px; transition:none; line-height: 28px; letter-spacing: 0px; font-size: 17px; font-weight: 400;">
                          compared to traditional phone bills!†
                        </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption vline   tp-resizeme"
                     id="slide-1-layer-4"
                     data-x="785"
                     data-y=""
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:0;y:-45;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1800;e:easeOutExpo;"
                     data-transform_out="auto:auto;s:300;"
                     data-start="300"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 8; white-space: nowrap;border-color:rgba(42, 54, 63, 1.00);">
                  <div class="vline">&nbsp;</div>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sbox1   tp-resizeme  sbox1"
                     id="slide-1-layer-5"
                     data-x="725"
                     data-y="70"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;rZ:359;"
                     data-transform_in="y:-45;opacity:0;s:1800;e:easeOutExpo;"
                     data-transform_out="auto:auto;s:300;"
                     data-start="300"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 9; white-space: nowrap;border-color:rgba(255, 255, 255, 1.00);">
                  Save <br />
                  <strong>36% OFF</strong> <br />
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption cirbox1text   tp-resizeme"
                     id="slide-1-layer-6"
                     data-x="740"
                     data-y="210"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:0;y:-45;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1800;e:easeOutExpo;"
                     data-transform_out="auto:auto;s:300;"
                     data-start="650"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 10; white-space: nowrap; line-height: px;">
                  <div class="cirbox1">
                    <span class="dncfont">Starts at</span><br />
                    $19.99 <em>/mo</em>
                  </div>
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption sbut1text   tp-resizeme"
                     id="slide-1-layer-7"
                     data-x="115"
                     data-y="390"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.6;skX:0;skY:0;opacity:0;s:1800;e:easeOutExpo;"
                     data-transform_out="auto:auto;s:300;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 11; white-space: nowrap; line-height: ;border-color:rgba(255, 255, 255, 1.00);">
                  <a href='#' class='sbut1'>Order Now!</a>
                </div>
              </li>
            </ul>
          </div>

        </div><!-- END REVOLUTION SLIDER -->
      </div>
    </div>
  </div>
</div>
