<div class="wpb_row vc_row-fluid host_plans" id="king-124192">
  <div class="container ">
    <div class="vc_col-sm-12 wpb_column vc_column_container">
      <div class="wpb_wrapper">
        <h1 class="caps animated eff-fadeInUp delay-200ms effHidden" style="animation-delay: 200ms;">
          <strong>We are Announcing Perfect Package for you</strong>
          <em>
            VONAGE BUSINESS DEALS Providing you with a hesitate free business phone service we take words look the believable.
          </em>
        </h1><div class="clearfix margin_top3"></div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
          <div class="one_third wpb_column vc_column_container vc_col-sm-4 delay-200ms margin-right" style="animation-delay: 200ms;">
            <div class="wpb_wrapper">
              <div class="planbox">
                <div class="title">
                  <h4 class="caps">
                    <strong>Mobile</strong>
                  </h4>
                </div>
                <div class="prices">
                  <strong>
                    $19.99<i>/M</i>
                  </strong>
                  <b>
                  </b>
                  <a href="#">
                    Order Now
                  </a>
                </div>
                <ul class="price_des">
                  <li><strong>Unlimited </strong>Calling and SMS Messages</li>
                  <li><strong>Mobile App</strong>(iPhone, iPad, Android)</li>
                  <li><strong>Desktop App</strong></li>
                  <li><strong>Vonage Flow </strong> Team Messaging </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="one_third wpb_column vc_column_container vc_col-sm-4 delay-200ms  margin-right" style="animation-delay: 300ms;">
            <div class="wpb_wrapper">
              <div class="planbox highlight">
                <img width="134" class="hiimg" alt="" src="assets/images/best-seller.png">
                <div class="title">
                  <h4 class="caps">
                    <strong>Premium</strong>
                  </h4>
                </div>
                <div class="prices">
                  <strong>
                    $29.99<i>/M</i>
                  </strong>
                  <b>
                  </b>
                  <a href="#">
                    Order Now
                  </a>
                </div>
                <ul class="price_des">
                  <li><strong>Unlimited </strong>Calling and SMS Messages</li>
                  <li><strong>Mobile App</strong>(iPhone, iPad, Android)</li>
                  <li><strong>Desktop App</strong></li>
                  <li><strong>Vonage Flow </strong> Team Messaging </li>
                  <li><strong>Conference Calling & Online Meetings </strong> powered by Amazon Chime </li>
                  <li><strong>Video Conferencing, Chat & File Sharing </strong> powered by Amazon Chime </li>
                  <li><strong>Multi-level Auto Attendant </strong></li>
                  <li><strong>CRM </strong> Integrations </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="one_third wpb_column vc_column_container vc_col-sm-4 delay-200ms  margin-right" style="animation-delay: 400ms;">
            <div class="wpb_wrapper">
              <div class="planbox">
                <div class="title">
                  <h4 class="caps">
                    <strong>Advanced</strong>
                  </h4>
                </div>
                <div class="prices">
                  <strong>
                    $39.99<i>/M</i>
                  </strong>
                  <b>
                  </b>
                  <a href="#">
                    Order Now
                  </a>
                </div>
                <ul class="price_des">
                  <li><strong>Unlimited </strong>Calling and SMS Messages</li>
                  <li><strong>Mobile App</strong>(iPhone, iPad, Android)</li>
                  <li><strong>Desktop App</strong></li>
                  <li><strong>Vonage Flow </strong> Team Messaging </li>
                  <li><strong>Conference Calling & Online Meetings </strong> powered by Amazon Chime </li>
                  <li><strong>Video Conferencing, Chat & File Sharing </strong> powered by Amazon Chime </li>
                  <li><strong>Multi-level Auto Attendant </strong></li>
                  <li><strong>CRM </strong> Integrations </li>
                  <li><strong>Call Recording: </strong> On-Demand</li>
                  <li><strong>Call Group </strong> </li>
                  <li><strong>Vonage Visual Voicemail</strong></li>
                  <li><strong>Orange-Glove </strong> Setup </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
