<app-header></app-header>
<div id="container_full" class="site-content">
  <div id="content" class="row">
    <article id="post-1189" class="post-1189 page type-page status-publish hentry">
      <div class="entry-content blog_postcontent">
        <app-banner></app-banner>
        <app-moreinfo></app-moreinfo>
        <app-pricing></app-pricing>
      </div><!-- .entry-content -->
    </article><!-- #post-1189 -->
  </div><!-- #content -->
</div><!-- #primary -->
<!--Footer Default-->
<app-footer></app-footer>
