<div class="wpb_row vc_row-fluid domain_search" id="king-547896">
  <div class="container ">
    <div class="vc_col-sm-12 wpb_column vc_column_container ">
      <div class="wpb_wrapper">
        <div class="serch_area">
          <div class="check-domain-from animated eff-fadeIn delay-200ms effHidden" style="animation-delay: 200ms;">
            <div class="three-steps">
              <div class="three-steps-inner">
                <h2 class="white caps">
                  Get Started in 3 Easy Steps
                </h2>
                <div class="steps">
                  <div class="step">
                    <div class="step-img white">
                      <img alt="Ordering Service from Vonage Rep1" src="https://cdn.lfomedia.com/layout_assets/vonage_pilot/assets/images/d6e419879ab6992597accd71bd049b61.icon-call-center.png" data-di-res-id="6ba35541-5ab2de19" data-di-width="100" data-di-height="100" style="background-color:white">
                    </div>
                    <h3 class="step-header white">

                      1. Pick Your Plan

                    </h3>
                    <div class="step-copy white">

                      <p>Talk to one of our business experts, who will help customize your plan.</p>

                    </div>
                  </div>
                  <div class="divider-line white"></div>
                  <div class="step">
                    <div class="step-img">
                      <img alt="Plug your vonage phone into your high-speed internet connection" src="https://cdn.lfomedia.com/layout_assets/vonage_pilot/assets/images/000b6770a83529df03e664222afa2060.sip-trunk.png" data-di-res-id="6ba35541-f2c8e55a" data-di-width="100" data-di-height="100">
                    </div>
                    <h3 class="step-header  white">
                      2. Plug In
                    </h3>
                    <div class="step-copy  white">
                      <p>Download the app to start immediately, or connect equipment to high-speed internet.</p>
                    </div>
                  </div>
                  <div class="divider-line"></div>
                  <div class="step">
                    <div class="step-img ">
                      <img alt="Start using your Vonage Business Phone Service" src="https://cdn.lfomedia.com/layout_assets/vonage_pilot/assets/images/45447ff22a4f0d11e2bf9437147ffeaa.icon-people.png" data-di-res-id="6ba35541-4f107017" data-di-width="100" data-di-height="100">
                    </div>
                    <h3 class="step-header  white">
                      3. Start Calling
                    </h3>
                    <div class="step-copy  white">
                      <p>Or chatting. Or video conferencing. And enjoy 40+ standard included features!</p>
                    </div>
                  </div>
                </div>
                <div class="steps-cta  white" data-bh-click="submodule_get-started-now" back-to-top="form">
                  <p>Get Started Now</p>
                </div>
              </div>
            </div>
          </div>
          <div id="domain_search_results"></div>
        </div>
        
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
